# enable apache rewrite engine
RewriteEngine on

## direct a root call to the template
RewriteRule ^$ index.html [L]

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Push every request to api.php
RewriteRule ^(.+)$ php/api.php [QSA]


# AddType 'text/css; charset=UTF-8' css
# AddType text/css css
#  <IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#  </IfModule>