.boxShadow {
    border: none;
    outline: black solid 1px;
    box-shadow: none;
    border-radius: 5px;
    width: max-content;
}

[data-theme*="boxes"] .boxShadow {
    border: none;
    outline: black solid 1px;
    box-shadow: 4px 4px 0 black;
    border-radius: 0;
}

div.boxShadow>.dataTable:empty,
span.boxShadow:empty {
    display: none;
}

.button {
    padding: .5em;
    cursor: pointer;
}

.button.boxShadow:active {
    box-shadow: 2px 2px 0 black;
    transform: translate(2px, 2px);
    transition: 0.1s;
}

.FF-form {
    border-radius: 10px;
    background-color: var(--bg_2);
    border: 1px solid var(--border_0);
}

.FF-form h2 {
    margin: 1em !important;
}

fieldset {
    padding: 1em 1em 0em 1em;
    margin: 1em;
    border: 5px solid var(--bg_3);
    border-radius: 5px;
}

.FF-row {
    display: flex;
    flex-wrap: wrap;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    padding: 1em 0 0;
    margin: 1em;
    border-radius: .5em;
}

[data-theme*='boxes'] .FF-row {
    outline: black solid 1px;
    border-radius: 0;
}

.FF-item {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 50px;
    max-width: 200px;
    margin: 1em;
    padding-top: .5em;
}

.small .FF-item {
    max-width: max-content;
}

input[type='submit']:hover {
    cursor: pointer;
    background: var(--bg_1);
}

select,
textarea,
input[type='submit'],
input[type='text'],
input[type='date'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='datetime-local'],
input[type='email'],
input[type='password'],
input[type='time'],
input[type=color] {
    width: 100%;
    color: var(--font_0);
    background: var(--bg_3);
    line-height: 1.2em;
    padding: 0.3em 0.3em 0.2em 0.4em;
    border: none;
    outline: var(--border_0) solid 1px;
    transition: all 0.5s ease-in-out;
    border-radius: 0.2em;
    font-size: 1em;
    font-family: 'Public Sans';
}

input[type=color] {
    width: 40px;
    padding: 0.2em;
    border: none;
    background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: solid 1px #000;
}

.FF-item textarea {
    height: 6em;
}

div.FF-item {
    position: relative;
}

div.FF-item,
div.FF-item>* {
    font-size: 18px;
    /* font-size: clamp(2vw, 2vw, 3vw); */
}

[data-theme='dark-boxes'] div.FF-item textarea,
[data-theme='light-boxes'] div.FF-item textarea,
[data-theme='dark-boxes'] div.FF-item input,
[data-theme='light-boxes'] div.FF-item input {
    border: none;
    outline: black solid 1px;
    box-shadow: 4px 4px 0 black;
    border-radius: 0;
}

div.FF-item input:focus {
    transition: all 0.5s ease-in-out;
    background: #383838;
    border: none;
    outline: var(--border_0) solid 1px;
    transition: 0.1s;
}

[data-theme='dark-boxes'] div.FF-item textarea:focus,
[data-theme='light-boxes'] div.FF-item textarea:focus,
[data-theme='dark-boxes'] div.FF-item input:focus,
[data-theme='light-boxes'] div.FF-item input:focus {
    border: none;
    outline: black solid 1px;
    box-shadow: 2px 2px 0 black;
    border-radius: 0;
    transform: translate(2px, 2px);
    transition: 0.1s;
}

div.FF-item label {
    font-family: 'Zilla Slab Medium', sans-serif;
    font-weight: 400;
    color: var(--font_0);
    position: absolute;
    background: transparent;
    white-space: nowrap;
    font-size: 1em;
    padding: 0.3em;
    left: 0.1em;
    /* top: 0.05em; */
    transition: all 0.5s ease-in-out;
}

div.FF-item label.isTop,
div.FF-item textarea:not(:placeholder-shown)+label,
div.FF-item input:valid+label,
div.FF-item input:focus+label {
    transition: all 0.5s ease-in-out;
    top: -1em;
    left: -.2em;
    font-size: 0.9em;
    color: var(--font_2);
}


/* no borders & background if input is hideEdit */

.FF-item textarea.hideEdit,
.FF-item input.hideEdit {
    background: transparent !important;
    box-shadow: 4px 4px 0 transparent !important;
    outline: none !important;
    pointer-events: none !important;
}

.FF-item textarea.forbiddenEdit,
.FF-item input.forbiddenEdit {
    background: transparent !important;
    box-shadow: 4px 4px 0 transparent !important;
    outline: none !important;
    pointer-events: none !important;
}


/* input border for singleEdit function */

textarea.successEdit,
input.successEdit {
    outline: 1px solid var(--fontGreen);
}

.FF-item textarea.errorEdit,
.FF-item input.errorEdit {
    outline: 1px solid var(--fontRed);
}


/* hide placeholder if not in focus */

div.FF-item input:not(:focus):placeholder-shown::-webkit-input-placeholder {
    color: transparent;
}

div.FF-item input:not(:focus):placeholder-shown:-ms-input-placeholder {
    color: transparent;
}

div.FF-item input:not(:focus):placeholder-shown:-ms-input-placeholder {
    color: transparent;
}

div.FF-item input:not(:focus):placeholder-shown::-moz-placeholder {
    color: transparent;
}


/* style placeholder */

div.FF-item input:placeholder-shown::-webkit-input-placeholder {
    color: grey;
}

div.FF-item input:placeholder-shown:-ms-input-placeholder {
    color: grey;
}

div.FF-item input:placeholder-shown:-ms-input-placeholder {
    color: grey;
}

div.FF-item input:placeholder-shown::-moz-placeholder {
    color: grey;
}


/* hide icon on input number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}


/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

.ck.ck-toolbar {
    background: var(--bg_3)!important;
    border: 1px solid var(--border_0);
}

.ck.ck-button .ck-button__label,
a.ck.ck-button .ck-button__label,
.ck.ck-icon,
.ck.ck-icon * {
    color: var(--font_0)!important;
    cursor: pointer!important;
}

.ck.ck-button .ck-button__label:hover,
a.ck.ck-button .ck-button__label:hover,
.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: var(--bg_2)!important;
}

.ck.ck-balloon-panel {
    box-shadow: var(black), 0 0!important;
    min-height: 15px;
    background: var(--bg_1)!important;
    border: 1px solid var(--border_0)!important;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border: 1px solid var(--fontBlue)!important;
}