/*
//  
//   ######  ##     ##  ######  ########  #######  ##     ##    ##     ##    ###    ########   ######
//  ##    ## ##     ## ##    ##    ##    ##     ## ###   ###    ##     ##   ## ##   ##     ## ##    ##
//  ##       ##     ## ##          ##    ##     ## #### ####    ##     ##  ##   ##  ##     ## ##
//  ##       ##     ##  ######     ##    ##     ## ## ### ##    ##     ## ##     ## ########   ######
//  ##       ##     ##       ##    ##    ##     ## ##     ##     ##   ##  ######### ##   ##         ##
//  ##    ## ##     ## ##    ##    ##    ##     ## ##     ##      ## ##   ##     ## ##    ##  ##    ##
//   ######   #######   ######     ##     #######  ##     ##       ###    ##     ## ##     ##  ######
//  
*/

:root {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #27272b;
    --bg_2: #232327;
    --bg_3: #2c2c31;
    --font_0: #d7d7d8;
    --font_1: #d6d6d9;
    --font_2: #696969;
    --border_0: black;
    --fontSalomon: #c19c90;
    --fontBlue: #2798e4;
    --fontViolet: #988cca;
    --fontYellow: #c9ac57;
    --fontOrange: #cb7832;
    --fontRed: #e9553b;
    --fontGreen: #6a8759;
    --text-shadow: 0.1em 0.1em black;
}


/* https://sleekdb.github.io/ */

[data-theme='dark'] {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #232327;
    --bg_2: #27272b;
    --bg_3: #2c2c31;
    --font_0: #d6d6d9;
    --font_1: #d7d7d8;
    --font_2: #696969;
    --scrollbar: #3f3f3f;
    --border_0: rgb(0, 0, 0);
    --outline: none;
    --box-shadow: none;
    --text-shadow: 0.1em 0.1em black;
}

[data-theme='dark-boxes'] {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #232327;
    --bg_2: #27272b;
    --bg_3: #2c2c31;
    --font_0: #d6d6d9;
    --font_1: #d7d7d8;
    --font_2: #696969;
    --scrollbar: #3f3f3f;
    --border_0: rgb(0, 0, 0);
    --outline: black solid 1px;
    --box-shadow: 4px 4px 0 black;
    --text-shadow: 0.1em 0.1em black;
}

[data-theme='light'] {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #757575;
    --bg_2: #868686;
    --bg_3: #bbbbbb;
    --font_0: #1e1e1f;
    --font_1: #464647;
    --font_2: #515151;
    --scrollbar: #918d8d;
    --border_0: #313132;
    --outline: none;
    --box-shadow: none;
    --text-shadow: 0.03em 0.03em #aaa;
    --fontBlue: #175580;
}

[data-theme='light-boxes'] {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #757575;
    --bg_2: #868686;
    --bg_3: #bbbbbb;
    --font_0: #1e1e1f;
    --font_1: #464647;
    --font_2: #515151;
    --scrollbar: #918d8d;
    --border_0: #313132;
    --outline: black solid 1px;
    --box-shadow: 4px 4px 0 black;
    --text-shadow: 0.03em 0.03em #aaa;
    --fontBlue: #175580;
}


/* https://appwrite.io/docs/getting-started-for-web */

[data-theme='blue'] {
    --bg_1: #171D37;
    --bg_2: #1c223a;
    --bg_3: #262d50;
    --font_0: #c7d8eb;
    --font_1: #4caedb;
    --font_2: #4caedb;
    --scrollbar: #171D37;
    --border_0: #313132;
    --outline: none;
    --box-shadow: none;
    --text-shadow: 0.1em 0.1em black;
}

[data-theme='blue-boxes'] {
    --bg_1: #171D37;
    --bg_2: #1c223a;
    --bg_3: #262d50;
    --font_0: #c7d8eb;
    --font_1: #4caedb;
    --font_2: #4caedb;
    --scrollbar: #171D37;
    --border_0: #313132;
    --outline: black solid 1px;
    --box-shadow: 4px 4px 0 black;
    --text-shadow: 0.1em 0.1em black;
}

[data-theme='green'] {
    --bg_1: #1b3717;
    --bg_2: #1c3a1d;
    --bg_3: #265028;
    --font_0: #cbebc7;
    --font_1: #4cdb77;
    --font_2: #4cdb77;
    --fontBlue: #4cdb77;
    --scrollbar: #171D37;
    --border_0: #1b1b1b;
    --outline: none;
    --box-shadow: none;
    --text-shadow: 0.1em 0.1em black;
}

[data-theme='green-boxes'] {
    --bg_1: #1b3717;
    --bg_2: #1c3a1d;
    --bg_3: #265028;
    --font_0: #cbebc7;
    --font_1: #4cdb77;
    --font_2: #4cdb77;
    --fontBlue: #4cdb77;
    --scrollbar: #171D37;
    --border_0: #1b1b1b;
    --outline: black solid 1px;
    --box-shadow: 4px 4px 0 black;
    --text-shadow: 0.1em 0.1em black;
}


/*
//  
//  ########  #######  ##    ## ########  ######
//  ##       ##     ## ###   ##    ##    ##    ##
//  ##       ##     ## ####  ##    ##    ##
//  ######   ##     ## ## ## ##    ##     ######
//  ##       ##     ## ##  ####    ##          ##
//  ##       ##     ## ##   ###    ##    ##    ##
//  ##        #######  ##    ##    ##     ######
//  
*/

@font-face {
    font-family: 'Public Sans';
    src: url("../fonts/PublicSans-Regular.woff2");
}

@font-face {
    font-family: 'Zilla Slab';
    src: url("../fonts/ZillaSlab-Regular.woff2");
}


/*
//  
//  ########     ###     ######   ########
//  ##     ##   ## ##   ##    ##  ##
//  ##     ##  ##   ##  ##        ##
//  ########  ##     ## ##   #### ######
//  ##        ######### ##    ##  ##
//  ##        ##     ## ##    ##  ##
//  ##        ##     ##  ######   ########
//  
*/

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg_2);
    color: var(--font_0);
    font-family: 'Public Sans', sans-serif;
}

.darkWrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg_1);
    z-index: 10;
    opacity: 1;
    content: '';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-shadow: var(--text-shadow);
}

a {
    text-decoration: none;
    color: var(--fontBlue);
}

.numeric {
    font-variant-numeric: tabular-nums;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.1em;
}


/* scrollbar */

* {
    scrollbar-color: #696969 var(--bg_2);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: 0 0;
}

::-webkit-scrollbar-track-piece {
    background-color: #232327;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    /* background: linear-gradient( #232327, #696969, #232327); */
}


/* transition for ALL  */

* {
    transition: all 0.2s ease-in-out;
}

:hover {
    transition: all 0.3s ease-in-out;
}


/*
//  
//  ##          ###    ##    ##  #######  ##     ## ########
//  ##         ## ##    ##  ##  ##     ## ##     ##    ##
//  ##        ##   ##    ####   ##     ## ##     ##    ##
//  ##       ##     ##    ##    ##     ## ##     ##    ##
//  ##       #########    ##    ##     ## ##     ##    ##
//  ##       ##     ##    ##    ##     ## ##     ##    ##
//  ######## ##     ##    ##     #######   #######     ##
//  
*/

#PRL {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 'head head head' 'nav nav main' 'nav nav foot';
    grid-template-rows: var(--header_full_height) 1fr var(--footer_height);
    /* transition: grid-template-columns 350ms ease-in-out */
}

#PRL.large,
#PRL.large.sidebar,
#PRL.medium,
#PRL.medium.sidebar,
#PRL.small.sidebar {
    grid-template-columns: max-content max-content 1fr;
}

#PRL.small {
    grid-template-rows: var(--header_small_height) 1fr var(--footer_height);
    grid-template-columns: 0 0 1fr;
}

#PRL>header {
    grid-area: head;
    background-color: var(--bg_1);
}

#PRL>nav {
    grid-area: nav;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: var(--bg_3);
    box-shadow: inset -1px 0 var(--border_0);
    z-index: 6;
}

#PRL.large>nav,
#PRL.medium>nav {
    width: var(--sidebar_small_width);
}

#PRL.large.sidebar>nav,
#PRL.medium.sidebar>nav {
    width: var(--sidebar_full_width);
}

#PRL.small>nav {
    width: 0;
}

#PRL.small.sidebar>nav {
    grid-area: nav-start/nav-start/foot-end/nav-end;
    width: var(--sidebar_full_width);
}

#PRL.small>main {
    grid-area: nav-start/nav-start/main-end/main-end;
}

#PRL.small.sidebar>main {
    grid-area: nav-start/nav-start/main-end/main-end;
}

#PRL>main {
    grid-area: main;
    padding: 1em;
    background-color: var(--bg_2);
}

#PRL>footer {
    grid-area: foot;
    background-color: var(--bg_1);
    box-shadow: inset 0 1px 0 var(--border_0);
}


/*
//  
//  ##     ## ########    ###    ########  ######## ########
//  ##     ## ##         ## ##   ##     ## ##       ##     ##
//  ##     ## ##        ##   ##  ##     ## ##       ##     ##
//  ######### ######   ##     ## ##     ## ######   ########
//  ##     ## ##       ######### ##     ## ##       ##   ##
//  ##     ## ##       ##     ## ##     ## ##       ##    ##
//  ##     ## ######## ##     ## ########  ######## ##     ##
//  
*/

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 -1px var(--border_0);
}

header img {
    width: var(--header_full_height);
    padding: 0.75em;
}

header .page_name {
    font-size: 2em;
    margin: 0 0 0 0.15em;
}

.small header .page_name {
    font-size: 1.8em;
}


/*
//  
//  ##     ##    ###    #### ##    ##
//  ###   ###   ## ##    ##  ###   ##
//  #### ####  ##   ##   ##  ####  ##
//  ## ### ## ##     ##  ##  ## ## ##
//  ##     ## #########  ##  ##  ####
//  ##     ## ##     ##  ##  ##   ###
//  ##     ## ##     ## #### ##    ##
//  
*/

main {
    overflow-y: scroll;
    opacity: 0;
}

main h1:first-of-type,
main h2:first-of-type {
    margin-top: 0;
}

main.visible {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


/*
//  
//   ######  #### ########  ######## ########     ###    ########
//  ##    ##  ##  ##     ## ##       ##     ##   ## ##   ##     ##
//  ##        ##  ##     ## ##       ##     ##  ##   ##  ##     ##
//   ######   ##  ##     ## ######   ########  ##     ## ########
//        ##  ##  ##     ## ##       ##     ## ######### ##   ##
//  ##    ##  ##  ##     ## ##       ##     ## ##     ## ##    ##
//   ######  #### ########  ######## ########  ##     ## ##     ##
//  
*/

nav .sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5em;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
    width: var(--sidebar_full_width);
}

nav .sidebar_header #toggleSidebar {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: var(--font_0);
    -webkit-mask-image: url(../img/icons/menu.svg);
    mask-image: url(../img/icons/menu.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat !important;
}

nav .sidebar_header #toggleSidebar:hover {
    background-color: var(--fontBlue);
}

.sidebar nav .sidebar_header #toggleSidebar {
    -webkit-mask-image: url(../img/icons/mark.svg);
    mask-image: url(../img/icons/mark.svg);
}

.small #toggleSidebar {
    position: fixed;
    display: inline-block;
    top: 0.4em;
    right: 0.75em;
    width: 30px;
    height: 30px;
}

nav .sidebar_userpanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0rem 0.3rem;
    width: var(--sidebar_full_width);
}

nav .sidebar_userpanel img {
    width: 40px;
    height: 40px;
    /* margin-left: -2px; */
}

nav .sidebar_userpanel .username {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

nav .sidebar_userpanel .username:hover {
    color: var(--fontBlue);
}

#userLogout.logout_icon {
    background-color: var(--font_0);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#userLogout.logout_icon:hover {
    background-color: var(--fontRed);
}

nav #expandSubLists {
    display: inline-block;
    position: relative;
    top: 0.1em;
    /* margin-left: .75em; */
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: var(--font_0);
    -webkit-mask-image: url(../img/icons/updown.svg);
    mask-image: url(../img/icons/updown.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.small nav #expandSubLists {
    display: none;
}

nav #expandSubLists:hover {
    background-color: var(--fontBlue);
}

nav .small #expandSubLists {
    display: none;
}

nav ul {
    padding-left: 0;
}

[data-theme*='boxes'] nav li:not(ul.subList li) {
    outline: black solid 1px;
    box-shadow: 4px 4px 0 black;
    margin: 10px 10px 10px 4px;
    padding-left: 2px;
}

[data-theme*='boxes'] nav li:not(ul.subList li).active {
    box-shadow: 2px 2px 0 black;
    transform: translate(2px, 2px);
    transition: 0.1s;
}

nav ul>li {
    position: relative;
    list-style: none;
    cursor: pointer;
}

nav li ul.subList {
    margin: 0;
}

.sidebar nav li.active ul.subList {
    margin-top: -0.4rem;
    padding-bottom: 0.5rem;
    margin-left: 1.2em;
}

nav li ul.subList li {
    height: 0;
    overflow: hidden;
    padding: 0 0 0 1px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8em;
}

.sidebar nav li.active ul.subList li {
    height: 29px;
}

.sidebar nav li.active ul.subList li:last-of-type {
    padding-bottom: 1rem;
}

.link_text {
    display: inline-block;
    padding: 12px 0 12px 1em;
    width: 100%;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}


/* [data-theme='blue-boxes'] .link_text,
[data-theme='dark-boxes'] .link_text, */

[data-theme*='boxes'] .link_text {
    padding: 6px 0 6px 1em;
}


/* [data-theme='blue-boxes'] .link_text,
[data-theme='dark-boxes'] .link_text, */

[data-theme*='boxes'].link_text {
    text-shadow: 0.07em 0.07em black;
}

.subList .link_text {
    padding: 0 0 0 2rem;
}


/* [data-theme='blue-boxes'] .subList .link_text,
[data-theme='dark-boxes'] .subList .link_text, */

[data-theme*='boxes'] .subList .link_text {
    padding: 0.4rem 0 0 2rem;
}

nav li .link_text:hover {
    color: var(--fontBlue);
}

nav li .link_text:hover>.icon {
    background-color: var(--fontBlue);
}

nav li.active {
    background: var(--bg_2);
    box-shadow: inset -1px 0 var(--border_0);
}


/* [data-theme='blue-boxes'] nav li.active,
[data-theme='dark-boxes'] nav li.active, */

[data-theme*='boxes'] nav li.active {
    box-shadow: none;
}

nav li.current>.link_text {
    color: var(--fontBlue);
}

nav li.current .icon {
    background-color: var(--fontBlue);
}

nav li .icon {
    content: '';
    background-repeat: no-repeat;
    background-color: var(--font_0);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 1em;
    position: relative;
    top: 3px;
    pointer-events: none;
}


/* [data-theme='blue-boxes'] nav li .icon,
[data-theme='light-boxes'] nav li .icon, */

[data-theme*='boxes'] nav li .icon {
    left: -10px;
}


/* [data-theme='blue-boxes'] .sidebar nav li .icon,
[data-theme='light-boxes'] .sidebar nav li .icon, */

[data-theme*='boxes'] .sidebar nav li .icon {
    left: 0px;
}

nav .sidebar_footer {
    /* height: 10em; */
}


/*
//  
//  ########  #######   #######  ######## ######## ########
//  ##       ##     ## ##     ##    ##    ##       ##     ##
//  ##       ##     ## ##     ##    ##    ##       ##     ##
//  ######   ##     ## ##     ##    ##    ######   ########
//  ##       ##     ## ##     ##    ##    ##       ##   ##
//  ##       ##     ## ##     ##    ##    ##       ##    ##
//  ##        #######   #######     ##    ######## ##     ##
//  
*/

footer .withLove {
    position: relative;
    bottom: 0;
    width: 120px;
    float: right;
    margin: auto;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: var(--font_2);
}

footer .withLove img {
    position: relative;
    top: 3px;
}


/*
//  
//   ######  ##       ####  ######  ##    ##
//  ##    ## ##        ##  ##    ## ##   ##
//  ##       ##        ##  ##       ##  ##
//  ##       ##        ##  ##       #####
//  ##       ##        ##  ##       ##  ##
//  ##    ## ##        ##  ##    ## ##   ##
//   ######  ######## ####  ######  ##    ##
//  
*/

#darkmodecheckbox {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    width: 15px;
    height: 15px;
    fill: var(--font_0);
    cursor: pointer;
}

.small #darkmodecheckbox {
    top: 0.75em;
    right: 5em;
    width: 15px;
    height: 15px;
}

#darkmodecheckbox:hover {
    fill: var(--fontBlue);
}


/*
//  
//  ####  ######   #######  ##    ##  ######
//   ##  ##    ## ##     ## ###   ## ##    ##
//   ##  ##       ##     ## ####  ## ##
//   ##  ##       ##     ## ## ## ##  ######
//   ##  ##       ##     ## ##  ####       ##
//   ##  ##    ## ##     ## ##   ### ##    ##
//  ####  ######   #######  ##    ##  ######
//  
*/

.icon {
    content: '';
    background-repeat: no-repeat;
    background-color: var(--font_0);
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.icon:hover {
    background-color: var(--fontBlue);
}

.logout_icon {
    -webkit-mask-image: url(../img/icons/logout.svg);
    mask-image: url(../img/icons/logout.svg);
}

.link_icon {
    -webkit-mask-image: url(../img/icons/link.svg);
    mask-image: url(../img/icons/link.svg);
}

.menu_icon {
    -webkit-mask-image: url(../img/icons/menu.svg);
    mask-image: url(../img/icons/menu.svg);
}

.calendar_icon {
    -webkit-mask-image: url(../img/icons/calendar.svg);
    mask-image: url(../img/icons/calendar.svg);
}

.email_icon {
    -webkit-mask-image: url(../img/icons/email.svg);
    mask-image: url(../img/icons/email.svg);
}

.file_icon {
    -webkit-mask-image: url(../img/icons/file.svg);
    mask-image: url(../img/icons/file.svg);
}

.mark_icon {
    -webkit-mask-image: url(../img/icons/mark.svg);
    mask-image: url(../img/icons/mark.svg);
}

.speech_icon {
    -webkit-mask-image: url(../img/icons/speech.svg);
    mask-image: url(../img/icons/speech.svg);
}

.user_icon {
    -webkit-mask-image: url(../img/icons/user.svg);
    mask-image: url(../img/icons/user.svg);
}

.users_icon {
    -webkit-mask-image: url(../img/icons/users.svg);
    mask-image: url(../img/icons/users.svg);
}

.updown_icon {
    -webkit-mask-image: url(../img/icons/updown.svg);
    mask-image: url(../img/icons/updown.svg);
}

.appointment_icon {
    -webkit-mask-image: url(../img/icons/appointment.svg);
    mask-image: url(../img/icons/appointment.svg);
}

.project_icon {
    -webkit-mask-image: url(../img/icons/project.svg);
    mask-image: url(../img/icons/project.svg);
}

.arrow_left_icon {
    -webkit-mask-image: url(../img/icons/arrow-left.svg);
    mask-image: url(../img/icons/arrow-left.svg);
}

.arrow_right_icon {
    -webkit-mask-image: url(../img/icons/arrow-right.svg);
    mask-image: url(../img/icons/arrow-right.svg);
}

.map_icon {
    -webkit-mask-image: url(../img/icons/map.svg);
    mask-image: url(../img/icons/map.svg);
}


/*
//  
//  #### ##     ##    ###     ######   ########  ######
//   ##  ###   ###   ## ##   ##    ##  ##       ##    ##
//   ##  #### ####  ##   ##  ##        ##       ##
//   ##  ## ### ## ##     ## ##   #### ######    ######
//   ##  ##     ## ######### ##    ##  ##             ##
//   ##  ##     ## ##     ## ##    ##  ##       ##    ##
//  #### ##     ## ##     ##  ######   ########  ######
//  
*/

#thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.thumbnailWrapper {
    position: relative;
    border: 1px solid black;
    margin-right: .5em;
    margin-bottom: .5em;
}

[data-theme*="boxes"] .thumbnailWrapper {
    box-shadow: 4px 4px 0 black;
}

.thumbnailWrapper img {
    width: 100px;
    height: 100px;
}

.thumbnailImage {
    cursor: pointer;
}

.thumbnailWrapper .deleteButton {
    display: none;
}

.thumbnailWrapper.hideEdit .deleteButton {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: bold;
    color: var(--fontRed);
    display: block;
    position: absolute;
    right: 0;
    padding: .1em;
    cursor: pointer;
}

.popupWrapper {
    cursor: not-allowed;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: var(--bg_3);
    outline: black solid 1px;
}

[data-theme*="boxes"] .popupWrapper {
    box-shadow: 4px 4px 0 black;
}

.popupWrapper img {
    width: max-content;
    padding: 0;
    max-width: 90vw;
    height: auto;
}